In [11]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sbn
%matplotlib inline

In [2]:
train = pd.read_csv('C:\\Users\\SandeepReddy\\Desktop\\P1\\Sales predict\\train.csv')
test = pd.read_csv('C:\\Users\\SandeepReddy\\Desktop\\P1\\Sales predict\\test.csv')

In [10]:
train.head()
train.shape
train.Item_Identifier.value_counts()
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [20]:
#plt.pyplot.scatter(train['Outlet_Size'], train['Outlet_Type'])
#pd.scatter_matrix(train , figsixe = (6,6))
#plt.show

In [21]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
train.Item_Weight

In [33]:
#for x in train.Item_Type.values:
    
    #print (train.Item_Type.values , k)
#train[Item_Weight].fillna(train[Item_Weight])

df1 = pd.DataFrame(train['Item_Weight'].groupby(train['Item_Type']).mean())

In [53]:
df1

                       Item_Weight
Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731

In [41]:
#for x in train.Item_Type.values:
    
    
# train[Item_Weight].fillna(train[Item_Weight])

In [36]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [38]:
train['Item_Weight'].isnull().sum()

1463

In [52]:
train["Item_Weight"].groupby['Item_type'== 'Snack Foods']

TypeError: 'method' object is not subscriptable

In [50]:
train[['Item_Weight','Item_Type']]

      Item_Weight              Item_Type
0           9.300                  Dairy
1           5.920            Soft Drinks
2          17.500                   Meat
3          19.200  Fruits and Vegetables
4           8.930              Household
5          10.395           Baking Goods
6          13.650            Snack Foods
7             NaN            Snack Foods
8          16.200           Frozen Foods
9          19.200           Frozen Foods
10         11.800  Fruits and Vegetables
11         18.500                  Dairy
12         15.100  Fruits and Vegetables
13         17.600            Snack Foods
14         16.350  Fruits and Vegetables
15          9.000              Breakfast
16         11.800     Health and Hygiene
17          9.000              Breakfast
18            NaN            Hard Drinks
19         13.350                  Dairy
20         18.850            Snack Foods
21            NaN           Baking Goods
22         14.600              Household
23            NaN           Baking Goods
24         13.850           Frozen Foods
25         13.000              Household
26          7.645            Snack Foods
27         11.650            Hard Drinks
28          5.925                  Dairy
29            NaN                 Canned
...           ...                    ...
8493        7.420            Snack Foods
8494       15.200              Household
8495        9.695            Snack Foods
8496        7.420                Seafood
8497       13.650  Fruits and Vegetables
8498       15.350              Household
8499       11.600     Health and Hygiene
8500       20.350              Household
8501        5.340            Snack Foods
8502        8.420              Household
8503       20.500  Fruits and Vegetables
8504          NaN              Household
8505       10.500            Snack Foods
8506       17.250            Soft Drinks
8507        5.880           Frozen Foods
8508       11.350  Fruits and Vegetables
8509        8.100  Fruits and Vegetables
8510       13.800            Snack Foods
8511       17.500           Frozen Foods
8512       20.700                  Dairy
8513       12.000                   Meat
8514       15.000                 Canned
8515       20.700           Baking Goods
8516       18.600                 Others
8517       20.750           Frozen Foods
8518        6.865            Snack Foods
8519        8.380           Baking Goods
8520       10.600     Health and Hygiene
8521        7.210            Snack Foods
8522       14.800            Soft Drinks

[8523 rows x 2 columns]

In [46]:
train['Item_Weight'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7        True
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18       True
19      False
20      False
21       True
22      False
23       True
24      False
25      False
26      False
27      False
28      False
29       True
        ...
8493    False
8494    False
8495    False
8496    False
8497    False
8498    False
8499    False
8500    False
8501    False
8502    False
8503    False
8504     True
8505    False
8506    False
8507    False
8508    False
8509    False
8510    False
8511    False
8512    False
8513    False
8514    False
8515    False
8516    False
8517    False
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Weight, Length: 8523, dtype: bool

In [44]:
train.groupby(['Item_Type']).Item_Weight.apply(lambda x: x.fillna(x.mean()))

0        9.300000
1        5.920000
2       17.500000
3       19.200000
4        8.930000
5       10.395000
6       13.650000
7       12.987880
8       16.200000
9       19.200000
10      11.800000
11      18.500000
12      15.100000
13      17.600000
14      16.350000
15       9.000000
16      11.800000
17       9.000000
18      11.400328
19      13.350000
20      18.850000
21      12.277108
22      14.600000
23      12.277108
24      13.850000
25      13.000000
26       7.645000
27      11.650000
28       5.925000
29      12.305705
          ...
8493     7.420000
8494    15.200000
8495     9.695000
8496     7.420000
8497    13.650000
8498    15.350000
8499    11.600000
8500    20.350000
8501     5.340000
8502     8.420000
8503    20.500000
8504    13.384736
8505    10.500000
8506    17.250000
8507     5.880000
8508    11.350000
8509     8.100000
8510    13.800000
8511    17.500000
8512    20.700000
8513    12.000000
8514    15.000000
8515    20.700000
8516    18.600000
8517    20.750000
8518     6.865000
8519     8.380000
8520    10.600000
8521     7.210000
8522    14.800000
Name: Item_Weight, Length: 8523, dtype: float64

In [57]:
train.groupby(['Item_Type']).Item_Weight.mean()

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64